// =========================================================================================
// | Миксины
@import "mixins";
// =========================================================================================

// =========================================================================================
/* Подключение шрифтов */
// // 100 - Extralight
// // 200 - Thin
// // 300 - Light
// // 400 - Regular
// // 500 - Medium
// // 600 - Semibold
// // 700 - Bold
// // 800 - Extrabold
// // 900 - Black
@import "fonts";
// | Если нужна кириллица // &display=swap&subset=cyrillic-ext
// | CTRL + ALT + F

// | Иконочный шрифт
@import "icons";

// | Шрифт по умолчанию
$fontFamily: "Gilroy";

// | Цвет текста по умолчанию
$fontColor: #fff;
// =========================================================================================

// =========================================================================================
// | Переменнные
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthAdapt: 1206;
$maxWidthContainer: $maxWidthAdapt + 0px;
$md1: $maxWidthContainer + 12px;
$md2: 991px;
$md3: 767px;
$md4: 479px;
// =========================================================================================

// =========================================================================================
/* Обнуляющий стиль и настройки сайта */
@import "null";
body {
	font-size: 14px;
	background: #111428;
	&._lock {
		overflow: hidden;
	}
}
// =========================================================================================

// =========================================================================================
/* Оболочка */
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
// =========================================================================================

// =========================================================================================
// | Основная сетка
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
// =========================================================================================

// =========================================================================================
/* Основной блок */
.page {
	flex: 1 1 auto;
}
// =========================================================================================

// =========================================================================================
/* Формы */
@import "forms";
/* Готовые классы */
@import "ui";
// =========================================================================================

// =========================================================================================
// | Подключение файлов стилей страниц и элементов
/*Стили вылетающей формы*/
@import "popup";
/* Стили шапки */
@import "header";
/* Стили страницы */
@import "home";
/* Стили подвала */
@import "footer";
/* Медиа запросы (Адаптив) */
// =========================================================================================